@model IEnumerable<EmployeeDto>

@{
    ViewData["Title"] = "Employees";
}

<!-- Add New Employee Button -->
<a asp-controller="Employee" asp-action="Create" class="btn btn-primary mb-3">
    <i class="bi bi-plus-lg"></i> Add New Employee
</a>

@* <!-- Search Form -->
<div class="row justify-content-center align-items-center mt-4">
    <form class="row col-lg-8 col-md-10 col-sm-12" asp-action="Index">
         <div class="col-lg-8 col-md-8 col-sm-12 mb-2">
           <input type="text" class="form-control form-control-lg" name="searchInp" placeholder="Search " />
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 mb-2">
            <button type="submit" class="btn btn-success btn-lg w-100">
                <i class="bi bi-search"></i> Search
            </button>
        </div>
                *@

  @*   </form>
</div> *@
<div class="row justify-content-center align-items-center mt-4">
    <form class="row col-lg-8 col-md-10 col-sm-12" asp-action="Index" method="get">
        <div class="col-lg-8 col-md-8 col-sm-12 mb-2">
            <input type="text" class="form-control form-control-lg" name="searchInp" placeholder="Search by Name" />
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 mb-2">
            <button type="submit" class="btn btn-dark btn-lg w-100">
                <i class="bi bi-search"></i> Search
            </button>
        </div>
    </form>
</div>


@if (Model.Count() > 0)
{
    <!-- Employees Table -->
    <div class="table-responsive mt-4">
        <table class="table table-striped table-hover table-bordered align-middle">
            <thead class="table-dark">
                <tr>
                    <th>@Html.DisplayNameFor(E => E.Name)</th>
                    <th>@Html.DisplayNameFor(E => E.Image)</th>
                    <th>@Html.DisplayNameFor(E => E.Address)</th>
                    <th>@Html.DisplayNameFor(E => E.Age)</th>
                    <th>@Html.DisplayNameFor(E => E.Email)</th>
                    <th>@Html.DisplayNameFor(E => E.Salary)</th>
                    <th>@Html.DisplayNameFor(E => E.PhoneNumber)</th>
                    <th>@Html.DisplayNameFor(E => E.HiringDate)</th>
                    <th>Details</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var employee in Model)
                {
                    <tr>
                        <td>@employee.Name</td>
                        <td>
                            <img src="~/files/Images/@employee.ImageUrl" class="img-thumbnail" style="height: 40px; width: 40px;" alt="Employee Image" />
                        </td>
                        <td>@employee.Address</td>
                        <td>@employee.Age</td>
                        <td>@employee.Email</td>
                        <td>@employee.Salary.ToString("C")</td>
                        <td>@employee.PhoneNumber</td>
                        <td>@employee.HiringDate.ToString("dd MMM yyyy")</td>
                        <partial name="_ActionbuttonsPartialView" model="employee.Id" />
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <!-- No Employees Found Alert -->
    <div class="mt-5 alert alert-warning text-center">
        <h3><i class="bi bi-exclamation-triangle"></i> There are no Employees</h3>
    </div>
}

